*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

/*GENERAL*/

body{
    color: hsl(201, 11%, 66%);
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4{
    color: hsl(210, 10%, 33%);
    line-height: 28pt;
    margin: 1rem;
}

.logo{
    margin: 0 auto;
}

#header, .main{
    text-align: center;
    line-height: 22pt;

    padding: 50px 0;
    margin: 0 auto;
    width: 80%;

    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    gap: 2rem;
}

footer{
    background-color: hsl(0, 0%, 93%);
    text-align: center;
    padding: 3rem 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 2rem;
}

footer > ul > li {
    padding: .4em;
}

footer > ul > li > a{
    color: hsl(210, 10%, 33%);
}


/*botones------------------------------------*/

.button{
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    gap: 1rem;
}

button {
    border: none;
    border-radius: 1.5rem;
    box-shadow: 1px 1px 20px hsl(0, 0%, 77%);
    color: white;
    padding: 1rem;
    font-size: 12pt;

    
}

.iOS{
    background: hsl(171, 66%, 44%);
}

.Mac{
    background: hsl(233, 100%, 69%);
}

/*-------------------------------------------*/

/*MOBILE FIRST-------------------------------*/

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0),white), url(/Challenges/clipboard-landing-page-master/images/bg-header-mobile.png);
    background-size: cover;
}

.main{
    gap: 5rem;
}



.tools-workflow > dt > h3{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.tools-workflow > dt > h3 > img{
    margin: 20px;
}

.empresas{
    display: flex;
    flex-flow: column wrap;
    gap: 3em;
    margin: 50px 0;
}


footer{
    display: flex;
}

/*-------------------------------------------*/

/*DESKTOP------------------------------------*/

@media only screen and (min-width: 768px){





}

/*-------------------------------------------*/